
SankakuDownloader/.vs/
SankakuDownloader/SankakuAPI/bin/
SankakuDownloader/SankakuAPI/obj/
SankakuDownloader/SankakuDownloader/bin/
SankakuDownloader/SankakuDownloader/obj/
SankakuDownloader/packages
